{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Doongzi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="둥지는 대한민국 최고의 디자인 크루입니다.">
    <!-- 페이스북 -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="둥지">
    <meta property="og:description" content="둥지는 대한민국 최고의 디자인 크루입니다.">
    <meta property="og:image" content="{% static 'images/doongsite-seo.png' %}">
    <meta property="og:url" content="https://doongzi.ga">

    <!-- 트위터 공유 시 -->
    <meta property="twitter:card" content="카드타입">
    <meta property="twitter:title" content="둥지">
    <meta property="twitter:description" content="둥지는 대한민국 최고의 디자인 크루입니다.">
    <meta property="twitter:image" content="{% static 'images/doongsite-seo.png' %}">

    <!-- 구글 seo -->
    <meta name="google-site-verification" content="AWv_8xS0SioE7t_94MZRjEbhlw-9D5QrVAkk6JddUss" />

    <!-- 네이버 seo -->
    <meta name="naver-site-verification" content="026289a3159470ab4dcd9afd25831eadb4f31d59" />

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
</head>
<body>
    <div class="move-animation">
        <img class="main__doongsite-logo rotate-animation" src="{% static 'images/doongzi.svg' %}" alt="Doongzi">
    </div>
    <div class="grid-lines">
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
    </div>
    <div class="post__visible scroll-container">
        <div class="post__wrapper">
            {% for post in posts %}
            <div class="post__cont post-{{ post.id }}" onclick="showDetail({{ post.id }})">
                {% if post.image %}
                <img class="post__img post__img-{{post.id}}" src="{{ post.image.url }}" alt="{{ post.image.name }}">
                {% else %}
                <img class="post__img post__img-{{post.id}}" src="https://placekitten.com/300/300" alt="">
                {% endif %}
                <div class="post__title-cont post__title-cont-{{post.id}}">
                    <span class="post__title-kor">{{ post.kor_title }}</span>
                    <span class="post__title-eng">{{ post.eng_title }}</span>
                </div>
                <span class="post__content-kor disabled">{{ post.kor_content }}</span>
                <span class="post__content-eng disabled">{{ post.eng_content }}</span>
            </div>
            
            {% endfor %}
        </div>
        <img src="{% static 'images/doongzi-arrow-left.svg' %}" alt="" id="arrow-left" onclick="scrollToLeft()">
        <img src="{% static 'images/doongzi-arrow-right.svg' %}" alt="" id="arrow-right" onclick="scrollToRight()">
    </div>
        
        <!-- 방명록 섹션-->
    <div class="guestbook">
        <div class="comment-container">
            {% for comment in comments %}
            <span class="comment-text comment-text-{{comment.id}}">
                {{ comment.content }}
            </span>
            {% endfor %}
        </div>
        {% csrf_token %}
        <div class="guestbook__form">
            <input id="guestbook__input" type="text" placeholder="Click Me 🐥">
            <button class="rotate" id="guestbook__submit-btn" onclick="onClickSubmit()"><img class="scale" src="{% static 'images/doongzi-symbol-submit.svg' %}" alt=""></button>
        </div>
    </div>

    {% for post in posts %}
    <div class="post__detail-container post-detail-{{post.id}}">
        <div class="post__detail-overlay" onclick="closeDetail()"></div>
        <div class="post__detail">
            {% if post.image %}
            <img class="post__img post__img-{{post.id}}" src="{{ post.image.url }}" alt="{{ post.image.name }}">
            {% else %}
            <img class="post__img post__img-{{post.id}}" src="https://placekitten.com/300/300" alt="">
            {% endif %}
            <div class="post__detail-text">
                <span class="post__title-kor">{{ post.kor_title }}</span>
                <span class="post__title-eng">{{ post.eng_title }}</span>
                <span class="post__content-kor">{{ post.kor_content }}</span>
                <span class="post__content-eng">{{ post.eng_content }}</span>
            </div>
            <div class="detail__closebtn" onclick="closeDetail()">
                <img src="{% static 'images/detail-closebtn.svg' %}" alt="close button">
            </div>
        </div>
    </div>
    {% endfor %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>