html {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
		"Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
		"Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		sans-serif;
}
body {
	transition: 0.2s;
}
.doong {
	/* color: red; */
	padding-bottom: 30px;
}

.doong-animate {
	animation: bounce 0.9s infinite;
}

/* .word-container:hover .doong-animate {
	animation-play-state: paused;
	background-color: #25e84c;
	transition: 0.3s;
} */

main {
	display: flex;
	gap: 40px;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

main::before {
	content: "";
	display: block;
	width: 120%;
	height: 150px;
	/* background-color: #25e84c; */
	background: linear-gradient(180deg, #25e84c 70%, rgba(255, 255, 255, 0) 100%);
	position: fixed;
	top: -80px;
	left: 0;
	/* filter: blur(10px); */
	/* -webkit-filter: blur(10px); */
	z-index: 10;
}
main::after {
	content: "";
	display: block;
	width: 120%;
	height: 150px;
	/* background-color: #25e84c; */
	background: linear-gradient(0deg, #25e84c 70%, rgba(255, 255, 255, 0) 100%);
	position: fixed;
	bottom: -80px;
	left: 0;
	/* filter: blur(10px); */
	/* -webkit-filter: blur(10px); */
	z-index: 10;
}

.word-col {
	width: 450px;
	height: 94vh;
	overflow-y: scroll;
	margin: 3vh 24px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* main > div:first-of-type::before {
	content: "";
	display: block;
	width: 100%;
	height: 50px;
	background-color: greenyellow;
	position: absolute;
	top: 10px;
	left: 0;
	filter: blur(10px);
	-webkit-filter: blur(10px);
} */
/* Hide scrollbar for Chrome, Safari and Opera */
.word-col::-webkit-scrollbar {
	display: none;
}

.word-container {
	position: relative;
	/* transition: 0.3s; */
}

.word {
	font-size: 64px;
	font-weight: 700;
	display: flex;
	align-items: flex-end;
	margin: 0 0 10px 0;
	position: relative;
}
.word > span {
	transition: 0.2s;
}

.word-container img {
	width: 30%;
	position: absolute;
	z-index: 10;
	right: 0;
	transition: 0.5s;
	opacity: 0;
}

.word-container:hover img {
	opacity: 1;
}

.definition {
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	margin: 0 0 30px 0;
	word-break: keep-all;
	white-space: pre-wrap;
}

.word-type {
	margin: 0;
	margin-top: -35px;
	margin-left: 5px;
	position: absolute;

	font-size: 16px;
	font-weight: 500;
	color: black;
	/* display: none; */
	opacity: 0;
	transition: 0.2s;
	font-style: italic;
}

.elevated {
	/* translate: translateY(30px); */
	background-color: #25e84c;
	padding-bottom: 30px;
}

.blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
