section.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    width: 84vw;
    padding: 0 8vw;
    word-break: keep-all;
}

p {
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.sadCont {
    height: 80px;
    display: flex;
    align-items: center;
}

.sadEmoji {
    font-size: 64px;
    margin: 0;
    animation: sad 3s infinite linear;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

@keyframes sad {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.buttons {
    display: flex;
    gap: 10px;
    /* align-items: flex-end; */
    height: 60px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 60px;
    height: 20px;
    border-radius: 8px;
    background-color: #25e84c;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.button:first-of-type {
    background-color: white;
    border: 1px solid #25e84c;
    color: #25e84c;
    height: 18px;
}

.button:hover {
    margin-top: 14px;
    cursor: pointer;
}

.no {
    font-size: 12px;
    font-weight: 500;
    color: #ADB5BD;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
.no:hover {
    text-decoration: none;
    cursor: pointer;
}

.fade {
	-webkit-animation: fade 1s infinite linear;
	animation: fade 1s infinite linear;
	animation-direction: alternate;
    color: black;
    text-decoration: none;
}

@keyframes fade {
	0% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}
