:root {
    --doongzi-green: #25E84C;
    --grid-height: 16vh;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.disabled {
    display: none;
}

/* 둥사이트 로고 */
.main__doongsite-logo {
    position: sticky;
    left: 50px;
    top: 50px;
    z-index: 1000;
}

/* 그리드선 */
.grid-lines {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: -1;
    top: 50px;
}

.grid-line {
    border-top: 1px solid var(--doongzi-green);
    height: var(--grid-height);
    width: 100vw;
}

/* 게시글 */
.post__wrapper {
    height: 100%;
    width: 300vw;
    position: absolute;
}

.post__visible {
    top: 50px;
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
}

.post__cont {
    display: flex;
    position: absolute;
}

.post__cont img {
    height: 28.5rem;
    border: 1px solid var(--doongzi-green);
}

.post__title-cont {
    background-color: var(--doongzi-green);
    /* color: white; */
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 2px 10px;
}

.post__title-kor {
    font-size: 1.8rem;
    /* font-weight: bold; */
    margin-right: 10px;
}

.post__title-eng {
    font-size: 1.2rem;
}
.post-1 {
    left: 25rem;
    z-index: 10;
}
.post-2 {
    margin-top: calc(var(--grid-height) * 1);
    margin-left: 60rem;
    z-index: 9;
    top: 1px;
}

.post-3 {
    margin-top: calc(var(--grid-height) * 4);
    left: 100rem;
    top: 4px;
}

.post-4 {
    margin-top: calc(var(--grid-height) * 3);
    left: 200rem;
    top: 3px;
}

/* 게시글 끝 */


/* 화살표 */

#arrow-left, #arrow-right {
    position: fixed;
    top: calc(50vh - 57px);
    z-index: 1000;
}

#arrow-left {
    left: 0;
}

#arrow-right {
    right: 0;
}

/* 화살표 끝 */


/* 방명록 */
.guestbook__form {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100vw;
    height: 7rem;
    border-top: 1px solid var(--doongzi-green);
    border-bottom: 1px solid var(--doongzi-green);
    background-color: white;
    z-index: 10000;
    overflow: hidden;
    display: flex;
}

#guestbook__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 3.2rem;
    padding: 2.5rem;
    box-sizing: border-box;
}

#guestbook__submit-btn {
    height: 6.8rem;
    width: 6.8rem;
}
@keyframes
    guestbook__submit-btn-animation {
        0% {
            transform: scale(1);
            /* transform: rotate(10deg); */
        }
        50% {
            transform: scale(1.1);
            /* transform: rotate(-10deg); */
        }
        100% {
            transform: scale(1);
            /* transform: rotate(10deg); */
        }
    }


.comment-container {
    font-size: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
}

/* 방명록 끝 */