:root {
    --doongzi-green: #25E84C;
    --grid-height: 16vh;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.disabled {
    display: none;
}

/* 둥사이트 로고 */
.logo-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main__doongsite-logo {
    position: sticky;
    /* left: -50px; */
    padding-top: 50px;
    z-index: 1000;
}

.rotate-animation {
    animation: rotateAnimation 3s linear infinite;
}

.rotate-animation:hover {
    animation-play-state: paused;
    background-color: red;
}

.move-animation {
    animation: moveAnimation 20s linear infinite alternate;
}

.move-animation:hover {
    animation-play-state: paused;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
        left: -50px;
    }
    25% {
        left: calc(100vw+50px);
    }
    50% {
        left: -50px;
    }
    75% {
        left: calc(100vw+50px);
    }
    100% {
        transform: rotate(360deg);
        left: -50px;
    }
}

@keyframes moveAnimation {
    0% {
        transform: translate(0px, 0px);
    }
    19% {
        transform: translate(calc(100vw + 200px), 0px);
    }
    20% {
        transform: translate(calc(100vw + 200px), var(--grid-height));
    }
    39% {
        transform: translate(-200px, var(--grid-height));
    }
    40% {
        transform: translate(-200px, calc(var(--grid-height) * 2));
    }
    59% {
        transform: translate(calc(100vw + 200px), calc(var(--grid-height) * 2));
    }
    60% {
        transform: translate(calc(100vw + 200px), calc(var(--grid-height) * 3));
    }
    79% {
        transform: translate(-200px, calc(var(--grid-height) * 3));
    }
    80% {
        transform: translate(-200px, calc(var(--grid-height) * 4));
    }
    99% {
        transform: translate(calc(100vw + 200px), calc(var(--grid-height) * 4));
    }
    100% {
        transform: translate(calc(100vw + 200px), calc(var(--grid-height) * 5));
    }    
}
    


/* 그리드선 */
.grid-lines {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: -1;
    top: 50px;
}

.grid-line {
    border-top: 1px solid var(--doongzi-green);
    height: var(--grid-height);
    width: 100vw;
}

/* 게시글 */
.post__wrapper {
    height: 100%;
    width: 300vw;
    position: absolute;
}

.post__visible {
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    transition: 0.2s;
}

.post__cont {
    display: flex;
    position: absolute;
}

.post__cont img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px rgba(37, 232, 76, 0.5);
}

.post__cont img {
    height: 28.5rem;
    border: 1px solid var(--doongzi-green);
}

.post__title-cont {
    background-color: var(--doongzi-green);
    /* color: white; */
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 2px 10px;
}

.post__title-kor {
    font-size: 1.8rem;
    /* font-weight: bold; */
    margin-right: 10px;
    width: max-content;
}

.post__title-eng {
    font-size: 1.2rem;
    width: max-content;
}
.post-1 {
    left: 25rem;
    z-index: 10;
}
.post-2 {
    margin-top: calc(var(--grid-height) * 1);
    margin-left: 60rem;
    z-index: 9;
    top: 1px;
}

.post-3 {
    margin-top: calc(var(--grid-height) * 4);
    left: 100rem;
    top: 4px;
}

.post-4 {
    margin-top: calc(var(--grid-height) * 3);
    left: 200rem;
    top: 3px;
}

.post-5 {
    left: 5rem;
    margin-top: calc(var(--grid-height) * 2);
    top: 2px;
}

.post-6 {
    left: 280rem;
    margin-top: calc(var(--grid-height) * 1);
    top: 1px;
}

.post-7 {
    left: 120rem;
    margin-top: calc(var(--grid-height) * 2);
    top: 2px;
}

.post-8 {
    left: 240rem;
    margin-top: calc(var(--grid-height) * 3);
    top: 3px;
}

.post-9 {
    left: 19rem;
    margin-top: calc(var(--grid-height) * 4);
    top: 4px;
}

.post-10 {
    left: 168rem;
    margin-top: calc(var(--grid-height) * 1);
    top: 1px;
}

.post-11 {
    left: 100rem;
    margin-top: calc(var(--grid-height) * 4);
    top: 4px;
}

.post-12 {
    left: 158rem;
    margin-top: calc(var(--grid-height) * 4);
    top: 4px;
}

.post-13 {
    left: 250rem;
}

/* 게시글 끝 */

/* 게시글 디테일 */

.post__detail-container {
    position: fixed;
    display: none;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.post__detail-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.post__detail {
    top: var(--grid-height);
    padding-top: 51px;
    margin: 0 auto;
    display: flex;
    position: fixed;
}

.post__detail-1 {
    display: flex;
}

.post__detail img, .post__detail iframe {
    height: calc(var(--grid-height) * 4);
    border: 1px solid var(--doongzi-green);
}

.post__detail iframe {
    width: 1056px;
}

.post__detail-text {
    background-color: var(--doongzi-green);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 360px;
}

.detail-title, .detail-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post__detail-text .post__title-kor, .post__detail-text .post__title-eng {
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: underline;
    line-height: 150%;
}

.post__detail-text .post__content-kor, .post__detail-text .post__content-eng {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
    word-break: keep-all;
    white-space: pre-wrap;
}

.detail__closebtn {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--doongzi-green);
    z-index: 10002;
}

.detail__closebtn img {
    height: 20px;
    width: 20px;
}
/* 게시글 디테일 끝 */

/* 화살표 */

#arrow-left, #arrow-right {
    position: fixed;
    top: calc(50vh - 57px);
    z-index: 1000;
}

#arrow-left {
    left: 0;
    cursor: pointer;
    animation: rotate 0.5s infinite;
}

#arrow-right {
    right: 0;
    cursor: pointer;
    animation: rotate 0.5s infinite;
}

#arrow-right:hover, #arrow-left:hover {
    animation-play-state: paused;
}

/* 화살표 끝 */


/* 방명록 */
.guestbook__form {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100vw;
    height: 7rem;
    border-top: 1px solid var(--doongzi-green);
    border-bottom: 1px solid var(--doongzi-green);
    background-color: white;
    z-index: 10000;
    overflow: hidden;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    animation: upAndDown 10s infinite;
}

#guestbook__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 3.2rem;
    padding: 2.5rem;
    box-sizing: border-box;
}

#guestbook__input::placeholder{
    color: var(--doongzi-green);
}

@keyframes upAndDown {
    0% {
        top: 10%;
    }
    50% {
        top: 90%;
    }
    100% {
        top: 10%;
    }
}

#guestbook__submit-btn {
    height: 6.8rem;
    width: 6.8rem;
}

.rotate {
    animation: rotate 0.5s infinite, changeColor 0.5s infinite;
}

.rotate:hover {
    animation: paused;
}

.scale {
    animation: scale 0.5s infinite;
}
@keyframes
    rotate {
        0% {
            transform: rotate(10deg);
            /* -webkit-filter:hue-rotate(0deg); */
        }
        50% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(10deg);
            /* -webkit-filter:hue-rotate(360deg); */
        }
    }

@keyframes changeColor {
    from {
        -webkit-filter:hue-rotate(360deg);
    }
    to {
        -webkit-filter:hue-rotate(0deg);
    }
}

@keyframes
    scale {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
@-webkit-keyframes
    rotate {
        0% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(10deg);
        }
    }

#guestbook__submit-btn:hover {
    animation: none;
}

.comment-container {
    font-size: 30px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
    overflow: ;
}

.comment-text {
    max-width: 24rem;
}

/* 방명록 끝 */

@media screen and (max-width: 1200px) {
    .post__detail {
        width: 100vw;
        top: 51px;
        padding: 0;
    }

    .post__detail-1{
        width: 100%;
    }

    .post__detail-1 {
        flex-direction: column;
        height: calc(var(--grid-height)*5);
    }

    .post__detail-1 img {
        height: auto;
        border: 1px solid var(--doongzi-green);
        max-height: 100vw;
        object-fit: contain;
        background-color: white;
    }

    .post__detail-1 iframe {
        height: 56vw;
        width: 100%;
        max-height: 100vw;
        object-fit: contain;
        background-color: white;
    }

    .post__detail-text {
        max-width: none;
        flex-direction: row;
        overflow: scroll;
        max-height: 100%;
    }

    .detail__closebtn {
        margin-left: -30px;
    }

    .detail-title {
        min-width: 16vw;
    }

    .post__detail-text .post__title-kor, .post__detail-text .post__title-eng {
        font-size: 1.8rem;
    }

    .post__detail-text .post__content-kor, .post__detail-text .post__content-eng {
        font-size: 1.4rem;
    }
}

/* 모바일 */
@media screen and (max-width: 900px) {
    .post__detail-text {
        max-width: none;
        flex-direction: column;
    }

    .detail-content, .detail-title {
        gap: 0;
    }

    .guestbook__form {
        animation: none;
    }

    .rotate {
        animation: none;
    }

    .post__cont img {
        height: var(--grid-height);
    }
    
    .guestbook__form {
        bottom: 40px;
        height: 6rem;
    }

    #guestbook__input {
        font-size: 2.2rem;
    }

    .scale {
        height: 5rem;
    }

    #arrow-left, #arrow-right {
        height: 90px;
    }

    /* 방명록들 */
    .comment-container {
        font-size: 2.6rem;
        align-items: ;
    }

    /* 게시물 포지션 */
    .post-1 {
        left: 14rem;
        z-index: 10;
    }
    .post-2 {
        margin-top: calc(var(--grid-height) * 1);
        margin-left: 30rem;
        z-index: 9;
        top: 1px;
    }
    
    .post-3 {
        margin-top: calc(var(--grid-height) * 4);
        left: 50rem;
        top: 4px;
    }
    
    .post-4 {
        margin-top: calc(var(--grid-height) * 3);
        left: 100rem;
        top: 3px;
    }

    .post-5 {
        left: 5rem;
        margin-top: calc(var(--grid-height) * 2);
        top: 2px;
    }

    .post-6 {
        left: 140rem;
        margin-top: calc(var(--grid-height) * 1);
        top: 1px;
    }
    
    .post-7 {
        left: 60rem;
        margin-top: calc(var(--grid-height) * 2);
        top: 2px;
    }
    
    .post-8 {
        left: 120rem;
        margin-top: calc(var(--grid-height) * 3);
        top: 3px;
    }
    
    .post-9 {
        left: 10rem;
        margin-top: calc(var(--grid-height) * 4);
        top: 4px;
    }
    
    .post-10 {
        left: 84rem;
        margin-top: calc(var(--grid-height) * 1);
        top: 1px;
    }
    
    .post-11 {
        left: 50rem;
        margin-top: calc(var(--grid-height) * 4);
        top: 4px;
    }
    
    .post-12 {
        left: 79rem;
        margin-top: calc(var(--grid-height) * 4);
        top: 4px;
    }
    
    .post-13 {
        left: 125rem;
    }
}