{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/text.css' %}">
    <title>{{post.title}}</title>
</head>
<body>
    <header>

        <h3 class="title">{% if post.url == 'main' %}KNOCK KNOCK;<br>HOW TO DOONGZI{% else %}{{post.title}}{% endif %}</h3>
        {% if post.creator %}
        <p class="creator">{{post.creator}}</p>
        {% endif %}
    </header>
    <main class="how-to-desc">
        <article class="desc">{{post.content}}</article>
        {% if post.url == 'main' %}
        <section class="main-list">
            <img class="topview" src="{% static 'images/htdz/topview.svg' %}" alt="둥지의 첫 전시 평면도">
            <ul class="post-list">
                {% for post in posts %}
                {% if post.order != 0 %}
                <li>
                    <img src="/static/images/htdz/{{post.order}}.svg" alt="">
                    <a href="/how-to-doongzi/p/{{post.url}}">{{post.title}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </main>
        <footer>
            <a class="list" href="/how-to-doongzi/p/main">list</a>
            {% if next_post %}
            <a class="next-btn" href="/how-to-doongzi/p/{{next_post.url}}"><img src="{% static 'images/htdz/nextArrowLonger.svg' %}" alt=""></a>
            {% endif %}
        </footer>
</body>
</html>