{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/text.css' %}">
    <link rel="shortcut icon" href="{% static 'images/people/nayoun.jpeg' %}" type="image/x-icon">
    <title>김나연</title>
</head>
<body>
    <main>
        <p>아이고 잘 오셨습니다. 날씨가 많이 덥죠? 만나서 반갑습니다.
아 저요?
저는.. 김나연이라고 합니다. 제가 벌써 3학년이네요. 하하... 아, 간단히 제 소개를 하자면 한 번 사는 인생 웃기고 즐겁게 살고 싶은 지구인입니다! 요새는 뭐.. 밴드 음악 좋아하고... 기타도 좀 치고... 디자인도 뭐.. 가~끔 하면서 지냅니다.
아 왜 미대에 갔냐고요? 뭐 그냥... 미술이랑은 어·사(어색한 사이라는 뜻)로 지내다가... 고등학교 진학 당시에 즉흥적으로 미대 진출을 결정했습니다. 중간에 많은 일(엄마 미안)이 있었지만...
어쨌거나 저쨌거나 지금은 디자인을 공부하고 있습니다. 어쩌다 보니 건축도 같이 공부하고 있습니다....(헐)... 다소 즉흥적인 인생을 살아가고 있는 것 같기도 하네요...
아니 뭐 하여튼.! 디자인은 참 재미있습니다.
아 맞다. 둥지요? 대학에서 만난 특별하고 멋진 친구들입니다. 둥지와 함께하면 디자인이 더 재미있습니다. 둥지 최고!
그러고 보니 어쩌면 즉흥적인 삶이 오히려 좋은 것 같습니다. 결국 인생이 즐거워지는 방법이 아닐까요...? (아니면 말고.)
... 뭐 혹시 질문 있으세요? <a href="https://www.instagram.com/deception_is_1014/">편하게</a> 해주셔도 될 거 같습니다...</p>
    </main>
</body>
</html>