{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Doongzi</title>
</head>
<body style="background-color: #25E84C;">
    <h3>
        doongzi's projects
    </h3>
    <a href="{% url 'projects:yoon-kwon' %}">#1</a>
    <a href="{% url 'projects:thank-you' %}">#2</a>
    <a href="{% url 'projects:gir1s-generation' %}">#3</a>
</body>
</html>