{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/thank-you.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
    <title>감사합니다</title>
</head>
<body>
    <h3 style="text-align: center;">{%if name %}{{name}}을 위한 {% endif %}랜덤 카네이션 생성기</h3>
    <a id="originial-img"href="{% static 'images/thank-you/carnation2.png' %}"><img class="carnation animation" src="#" alt="멋진 카네이션 이미지."></a>
    <div class="random-btn" onClick="changeFlower()">
        <p>👇 눌러보세요!</p>
        <img src="{% static 'images/thank-you/random_btn.png' %}">
        <span>감사합니다</span>
    </div>
    <p class="from">From. <a href="https://www.instagram.com/project.doongzi">둥지</a>의 권윤, 김나연, 이율리, 이채영</p>
    <script>
        let flower = Math.floor(Math.random() * 5) + 1;
        const img = document.querySelector('.carnation');
        const originialImg = document.getElementById('originial-img');
        changeFlower();
        function changeFlower() {
            if (flower === undefined) {
                flower = 2;
            }
            else if (flower === 1) {
                img.src = "{% static 'images/thank-you/carnation1_small.jpeg' %}";
                originialImg.href = "{% static 'images/thank-you/carnation1.png' %}";
                img.classList.remove("animation")
                img.offsetWidth
                img.classList.add("animation")
                flower = 4;
            } else if (flower === 2) {
                img.src = "{% static 'images/thank-you/carnation2_small.jpeg' %}";
                originialImg.href = "{% static 'images/thank-you/carnation2.png' %}";
                img.classList.remove("animation");
                img.offsetWidth;
                img.classList.add("animation");
                flower = 3;
            } else if (flower === 3) {
                img.src = "{% static 'images/thank-you/carnation3_small.jpeg' %}";
                originialImg.href = "{% static 'images/thank-you/carnation3.jpg' %}";
                img.classList.remove("animation")
                img.offsetWidth
                img.classList.add("animation")
                flower = 1;
            } else if (flower === 4) {
                img.src = "{% static 'images/thank-you/carnation4_small.jpeg' %}";
                originialImg.href = "{% static 'images/thank-you/carnation4.jpg' %}";
                img.classList.remove("animation")
                img.offsetWidth
                img.classList.add("animation")
                flower = 5;
            } else if (flower === 5) {
                img.src = "{% static 'images/thank-you/carnation5_small.jpeg' %}";
                originialImg.href = "{% static 'images/thank-you/carnation5.png' %}";
                img.classList.remove("animation")
                img.offsetWidth
                img.classList.add("animation")
                flower = 2;
            }
        }
    </script>
</body>
</html>