{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/yoon-kwon.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
    <title>Yoon Kwon</title>
</head>
<body>
    <main>
        <p class="title"><a href="">권윤</a>은 대한민국의</p>
        <p class="designer-title"><strong class="fade">디자이너</strong>다.</p>
        <p class="designer-detail hidden">디자인 크루 <a href="https://www.instagram.com/project.doongzi">둥지</a><img src="{% static 'images/yoon/doongzi-standing.png' %}" alt="사람 네 명이 서 있는 모습이다."/>의 바지대표이며, 한글 타이포그래피 소모임 <a href="https://www.instagram.com/comeasflower_ewha">꽃</a>에서 활동하고 있다.</p> 
        <p class="designer-detail hidden">2022년 8월 현재 <a href="httpe://instagram.com/pirogramming_official/">피로그래밍 17기 인스타그램</a> 꾸미기<img src="{% static 'images/yoon/piro.jpeg' %}" alt="인스타그램 피드의 모습이다. 여러 색의 네모가 나열되어있다."/> 담당자로 일하고 있다.</p>
        <p class="developer-title"><strong>개발자</strong>다.</p>
        <p class="developer-detail hidden" ><a href="https://www.instagram.com/pirogramming_official/">피로그래밍</a> 16기로 활동하며 <a href="https://help-coding.com">도와줘코딩</a>을 만들었다.</p>
        <p class="developer-detail hidden" >모 에듀테크 스타트업의 개발팀에서 인턴으로 근무했다.</p>
        <p class="student-title"><strong>학생</strong>이다.</p>
        <p class="student-detail hidden" >이화여자대학교 디자인학부에서 공부하던 중 휴학해 현재는 <a href="https://namu.wiki/w/%EB%B0%B1%EC%88%98">백수</a>로 활약하고 있다.</p>
        <p><a href="https://www.instagram.com/project.doongzi">둥지</a>와 함께 8월 8일부터 14일까지 <a href="https://doongzi.works/how-to-doongzi">전시</a><img src="{% static 'images/yoon/htdz.jpeg' %}" alt="초록색 배경에 검정색 화살표가 중앙에 크게 그려져있다. 상단에는 'HOW TO DOONGZI'라는 글이 쓰여있다."/>를 연 뒤, <a href="https://www.google.com/search?q=%EC%98%81%EA%B5%AD&oq=%EC%98%81%EA%B5%AD&aqs=chrome..69i57j35i39l2j0i131i433i512l2j69i61l3.955j0j4&sourceid=chrome&ie=UTF-8">영국</a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/United_Kingdom_in_the_world_%28European_dependecies_special%29_%28Europe_centered%29.svg/600px-United_Kingdom_in_the_world_%28European_dependecies_special%29_%28Europe_centered%29.svg.png"/>으로 교환학생을 떠날 예정이다.</p>
        <p class="further fade hidden" style="cursor: pointer;">참고로...</p>
        <p class="support-yoon">지금까지 <strong id="supportNum">{{supports | length}}번</strong>의 응원을 받았다.</p>
        {% csrf_token %}
        <button class="support-btn" onClick="onClickSupport()">
            응원합니다
        </button>
        <p class="thanks"><span id="t">감</span><span id="h">사</span><span id="a">합</span><span id="n">니</span><span id="k">다</span></p>

    </main>
    <script>
    </script>
    <script type="text/javascript" src="{% static 'js/yoon-kwon.js' %}"></script>
</body>
</html>